{% load static %}
<html>
    <head>
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <title>CV Builder</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{%static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">CV Builder</a></h1>
        </div>
        <div class="top-menu">
  <a href="{% url 'post_list' %}"> My Posts </a>
  <a href="{% url 'CV_list' %}"> Example CV </a>
  <a href="{% url 'CV2_list' %}"> Create CV </a>
</div>
        <div class="content container">
    <div class="row">
        <div class="col-md-8">
           {% block content %}
           {% endblock %}
        </div>
    </div>
</div>
    </body>
</html>
